* {
    font-family: 'Kavivanar', Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

form label {
    width: 20%;
    display: inline-block;
    font-weight: 700;
}

.box {
    border: 2px solid rgb(14, 216, 132);
    padding: 10px;
    margin: 5px;
    display: inline-block;
    width: 30%;
}

header {
    margin-bottom: 40px;
}

nav li {
    display: inline-block;
    width: 50%;
    padding: 10px;
    border: solid rgb(3, 91, 117);
    box-sizing: border-box;
}

form {
    border: 5px solid salmon;
    padding: 20px 40px;
}

.formItem {
    margin-bottom: 20px;
}

.formItem input {
    width: 70%;
    padding: 5px;
}

.button {
    border: 1px solid green;
    background-color: rgb(127, 178, 255);
    color: blanchedalmond;
    transition: all 0.8s ease-in-out;
}

.button_large {
    width: 250px;
    font-size: 20px;
    color: red;
}

.button:hover {
    background-color: blanchedalmond;
    color: rgb(127, 178, 255);
}

.formItem:hover {
    color: indianred;
}

@media(min-width:600px) {
    body {
        background-color: red;
    }
}